{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:jest/recommended", "prettier"],
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
